<div class="container">
  <div class="row pl-5 pr-5 mt-5">
    <div class="col-12">
      <h1>Programar Horarios </h1>

      <p>
        A continuacion puedes puedes programar las fechas en la que estara disponible la experiencia<br>
        Seleciona el rango de fechas seguido por los dias y horas en que se brindara la experiencia<br>
        Tambien asigna los cupos que abra para cada uno de los horarios que se genere<br>

      </p>
    </div>
  </div>

  <%= react_component("ScheduleForm", {title: "Hello World"}) %>
</div>